a {
  text-decoration: none;
}

#albumAside p {
  line-height: 1;
  font-size: 0.8rem;
}
.overflowCustom {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.positionCustom {
  bottom: 1.2rem;
  right: 1.2rem;
}
#imgBackgruound {
  background-image: url("https://e-cdns-images.dzcdn.net/images/artist/5d2fa7f140a6bdc2c864c3465a61fc71/1000x1000-000000-80-0-0.jpg");
  background-size: cover;
}
